.chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        =@group.name
      .main-header__left-box__member-list
        ="Member:" + @group.users.pluck(:name).join(", ")    
    = link_to edit_group_path(@group)  do
      .main-header__edit-btn edit
  
  .message-date
    .message-date__log
      .user
        
      .date
        
    .message-date__comment
      = render @messages
  .message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'comment-box__text', placeholder: "type a message" 
        = f.label :image, class: 'comment-box__pic' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'abc'
        = f.submit 'send', class: 'send-btn'